@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 680px;
}

.border-3 {
    border-width: 3px;
}

#files li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#skip {
    /*background-image: linear-gradient(180deg, rgba(185, 219, 253, 1) 0%, rgba(241, 245, 249, 1) 100%);*/
    background: -webkit-radial-gradient(top, 50% 100%, #a9cff4, #F1F6F9);
    overflow: visible;
    height: 80px;
    mix-blend-mode: darken;
}

#current-file::before {
    content: "" !important;
}

#current-file::after {
    content: "" !important;
}

