@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: true;
}

:root {
    --angle: 3.5deg;
}

html,
body {
    height: 100%;
    -webkit-app-region: drag;
    background: radial-gradient(290px 290px at center, rgb(214, 190, 242) 0%, rgba(241,246,249,1) 100%);
}


main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    #add-folder {
        position: absolute;
        width: 44px;
        height: 44px;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        line-height: 20px;
        right: 110px;
        top: 50%;
        transform: translateY(-50%);
    }
    #trash {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -340px;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            text-align: center;
            > svg {
                width: 40px;
                > path {
                    fill: #777ea2;
                }
            }
        }
    }
    #files {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 240px;
        z-index: 100;
        #current-file {
            max-width: 33vw;
            max-height: 50vw;
            height: 100px;
            width: 100px;
            background: white url('assets/loading.gif') no-repeat center center;
            background-size: 20px 20px;
            transition: height 0.2s ease, width 0.2s ease, border-radius 0.2s ease, opacity 0.5s ease;
            > img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                overflow: hidden;
                pointer-events: none;
            }
        }
        li {
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    #locations {
        --radius: 320px;
        --tracksize: 75px;
        z-index: 100;
        > div {
            width: 120px;
            height: 120px;
            //-webkit-user-select: none;
            --offset-per-child: calc(var(--layout-angle) / (var(--nth-siblings) + 1));
            --angle-offset: calc(1 * var(--offset-per-child));
            border-radius: 50%;
            position: absolute;
            left: calc(50% - (var(--tracksize) / 2));
            top: calc(50% - (var(--tracksize) / 2));
            translate: calc(cos((var(--angle) + var(--angle-offset))) * var(--radius))
                        calc(sin((var(--angle) + var(--angle-offset))) * var(--radius) * -1);
            transition: all 0.2s ease, transform 0.2s ease 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
            > div {
                pointer-events: none;
                > svg {
                    max-width: 34px;
                    display: block;
                    margin: 0 auto;
                    > path {
                        fill: #777ea2;
                    }
                }
            }
        }
    } 
}

.drop-target {
    border: 3px solid greenyellow !important;
}

#root-folder-info {
    z-index: 150;
}

.dropping-file {
    border: 3px solid blue;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    pointer-events: none;
    overflow: hidden;
    background: white url('assets/loading.gif') no-repeat center center;
    background-size: 20px 20px;
    transition: height 0.2s ease, width 0.2s ease, border-radius 0.2s ease, opacity 0.5s ease;
    > span {
        display: none;
    }
    > img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        overflow: hidden;
        pointer-events: none;
    }
}

#current-file-type {
    position: absolute;
    bottom: -30px;
    left: 10px;
    padding: 3px 5px 2px;
    background-color: white;
    border: 1px solid #b4b9d4bf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    color: #777ea2;
}

#current-file-size {
    position: absolute;
    bottom: -30px;
    left: 60px;
    padding: 3px 5px 2px;
    background-color: white;
    border: 1px solid #b4b9d4bf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    color: #777ea2;
}



.center-horizontally {
    left: 50%;
    transform: translateX(-50%);
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-xxs {
    font-size: 0.65rem;
}


.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    border-color: #b4b9d4bf;
}


#intro-screen p {
    min-width: 210px;
    max-width: 300px;
}




.congrats {
    text-align: center;
    .congrats-icon {
        font-size: 3em;
        display: block;
    }
    
}




.border-3 {
    border-width: 3px;
}

#current-folder-name {
    vertical-align: text-top;
}

#skip {
    background: -webkit-radial-gradient(top, 50% 50%, #a9cff4, #F1F6F9);
    overflow: visible;
    height: 80px;
    top: -80px;
    mix-blend-mode: darken;
    transition: all 0.5s ease;
    > span {
        pointer-events: none;
    }
    &:after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    &.drop-active {
        border: 0;
    }
    &.drop-target {
        border: 0 !important;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: -webkit-radial-gradient(top, 50% 100%, #a9cff4, #F1F6F9);
            background-position: 50% 50%;
            mix-blend-mode: darken;
            opacity: 1;
            transition: all 0.5s ease;
            pointer-events: none;
        }
    }
}

.ui-button {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

#folder-select {
    min-width: 145px;
    z-index: 100;
}



[data-countchildren] > :nth-child(1) {
    --nth-child: 2;
 --layout-angle: 0deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(2) {
    --nth-child: 2;
 --layout-angle: 60deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(3) {
    --nth-child: 2;
 --layout-angle: -60deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(4) {
    --nth-child: 4;
 --layout-angle: 120deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(5) {
    --nth-child: 4;
 --layout-angle: -120deg;
 transform: scale(0)
}

[data-countchildren]:has(> :nth-child(1):last-child) > * {
    --nth-siblings: 0;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(2):last-child) > * {
    --nth-siblings: 1;
    --angle: -13deg;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(3):last-child) > * {
    --nth-siblings: 1;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(4):last-child) > * {
    --nth-siblings: 1;
    --angle: -13deg;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(5):last-child) > * {
    --nth-siblings: 1;
    transform: scale(1)
}


