@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: true;
}

:root {
    --angle: 1.5deg;
}

html,
body {
    height: 100%;
    -webkit-app-region: drag;
    background: radial-gradient(290px 290px at center, rgb(214, 190, 242) 0%, rgba(241,246,249,1) 100%);
}

.center-horizontally {
    left: 50%;
    transform: translateX(-50%);
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-xxs {
    font-size: 0.65rem;
}


#locations div {
    -webkit-user-select: none;
}

.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    border-color: #b4b9d4bf;
}

#folder-select-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    z-index: 100;
}

#intro-screen p {
    min-width: 210px;
    max-width: 300px;
}

#trash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -340px;
    svg {
        width: 60px;
    }
}

.translate-center-folders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    --radius: 320px;
    --tracksize: 75px;
}

.congrats {
    text-align: center;
    .congrats-icon {
        font-size: 3em;
        display: block;
    }
    
}

.translate-center-folders > div {
	--offset-per-child: calc(var(--layout-angle) / (var(--nth-siblings) + 1));
	--angle-offset: calc(1 * var(--offset-per-child));
	border-radius: 50%;
	position: absolute;
	left: calc(45% - (var(--tracksize) / 2));
	top: calc(45% - (var(--tracksize) / 2));
	translate: calc(cos((var(--angle) + var(--angle-offset))) * var(--radius))
		         calc(sin((var(--angle) + var(--angle-offset))) * var(--radius) * -1);
    transition: all 0.2s ease, transform 0.2s ease 0.2s;
}



#current-file {
    max-width: 33vw;
    max-height: 50vw;
    > img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        overflow: hidden;
    }
    &::after {
        content: attr(data-content);
        position: absolute;
        bottom: -30px;
        left: 50%;
        font-size: 0.65rem;
        opacity: 0.8;
        transform: translateX(-50%);
    }
}



.border-3 {
    border-width: 3px;
}

#files li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#skip {
    background: -webkit-radial-gradient(top, 50% 100%, #a9cff4, #F1F6F9);
    overflow: visible;
    height: 80px;
    mix-blend-mode: darken;
}

.ui-button {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

#folder-select {
    min-width: 145px;
}



[data-countchildren] > :nth-child(1) {
    --nth-child: 2;
 --layout-angle: 0deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(2) {
    --nth-child: 2;
 --layout-angle: 60deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(3) {
    --nth-child: 2;
 --layout-angle: -60deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(4) {
    --nth-child: 4;
 --layout-angle: 120deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(5) {
    --nth-child: 4;
 --layout-angle: -120deg;
 transform: scale(0)
}

[data-countchildren]:has(> :nth-child(1):last-child) > * {
    --nth-siblings: 0;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(2):last-child) > * {
    --nth-siblings: 1;
    --angle: -13deg;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(3):last-child) > * {
    --nth-siblings: 1;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(4):last-child) > * {
    --nth-siblings: 1;
    --angle: -13deg;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(5):last-child) > * {
    --nth-siblings: 1;
    transform: scale(1)
}


