@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    -webkit-app-region: drag;
    background: radial-gradient(290px 290px at center, rgb(214, 190, 242) 0%, rgba(241,246,249,1) 100%);
}

.center-horizontally {
    left: 50%;
    transform: translateX(-50%);
}

.text-xxs {
    font-size: 0.65rem;
}

.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    border-color: #b4b9d4bf;
}

.trash-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
}

.trash-wrapper .trash {
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}

.translate-center-folders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
}

#current-file {
    max-width: 33vw;
}

#current-file:after {
    content: attr(data-content);
    position: absolute;
    bottom: -30px;
    left: 50%;
    font-size: 0.65rem;
    opacity: 0.8;
    transform: translateX(-50%);
}

.border-3 {
    border-width: 3px;
}

#files li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#skip {
    background: -webkit-radial-gradient(top, 50% 100%, #a9cff4, #F1F6F9);
    overflow: visible;
    height: 80px;
    mix-blend-mode: darken;
}

.ui-button {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}

#folder-select {
    min-width: 145px;
}
