@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: true;
}

@property --layout-angle {
	syntax: '<number>';
	initial-value: 0deg;
	inherits: true;
}


html,
body {
    height: 100%;
    -webkit-app-region: drag;
    background: radial-gradient(290px 290px at center, rgb(214, 190, 242) 0%, rgba(241,246,249,1) 100%);
}


body, html {
    @media (max-width:500px) {
        width: 350px;
        height: 540px;
        -webkit-app-region: no-drag;
        overflow: hidden;
        position: relative;
    }
}

.qr-code {
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    #files {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 240px;
        z-index: 100;
        > li {
            max-width: 33vw;
            max-height: 50vw;
            height: 210px;
            width: 150px;
            min-width: 150px;
            min-height: 210px;
            border-radius: 4px;
            transition: height 0.2s ease, width 0.2s ease, border-radius 0.2s ease, opacity 0.5s ease;
            > span {
                display: none;
            }
            &:last-child {
                box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
                transform: rotate(0);
                > span {
                    display: block;
                }
            }
            &.double-tapped {
                transform: rotate(0) !important;
                max-width: 60vw;
                max-height: 50vw;
                > div {
                    > img {
                        object-fit: cover;
                    }
                }
            }
            > div {
                > img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                    overflow: hidden;
                    pointer-events: none;
                    padding-bottom: 20px;
                }
            }
            
        }
    }
    #locations {
        z-index: 100;
        --radius: 330px;
        --tracksize: 106px;
        @media screen and (max-width: 795px) {
            --radius: 41vw;
            --tracksize: 60px;
        }
        > li {
            width: 120px;
            height: 120px;
            max-width: 15vw;
            max-height: 15vw;
            --offset-per-child: calc(var(--layout-angle) / (var(--nth-siblings) + 1));
            --angle-offset: calc(1 * var(--offset-per-child));
            border-radius: 50%;
            position: absolute;
            left: calc(50% - (var(--tracksize) / 2));
            top: calc(50% - (var(--tracksize) / 2));
            translate: calc(cos((var(--angle) + var(--angle-offset))) * var(--radius))
                        calc(sin((var(--angle) + var(--angle-offset))) * var(--radius) * -1);
            transition: all 0.2s ease, transform 0.2s ease, border 0.2s ease 1s;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 50;
            font-size: 12px;
            opacity: 0;
            transform: scale(0);
            //box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
            &.loaded {
                opacity: 1;
                transform: scale(1);
            }
            &.setting-as-root {
                translate: none;
                transform: translateX(-50%) translateY(-50%) scale(2);
                opacity: 0;
                top: 50%;
                left: 50%;                    
            }
            &#add-folder {
                margin: 44px;
                width: 34px;
                height: 34px;
                font-size: 30px;
                font-weight: 300;
                line-height: 0;
                text-align: center;
                opacity: 1;
                transform: scale(1);
                > span {
                    display: block;
                    position: relative;
                    top: -2px;
                }
            }
            &.removing {
                transform: scale(0);
                transition: all 0.2s ease;
                > div {
                    display: none;
                }
            }
            > div {
                pointer-events: none;
                > svg {
                    max-width: 34px;
                    display: block;
                    margin: 0 auto;
                    > path {
                        fill: #777ea2;
                    }
                }
            }
        }
    } 
}




.drop-target {
    border: 3px solid greenyellow !important;
    transition: border 0.2s ease !important;
}

.drop-target-rejected {
    border: 3px solid #fe8c8c !important;
    box-shadow: 0 0 10px 2px #fe8c8c !important;
    transition: border 0.2s ease !important;
}

#root-folder-info {
    z-index: 150;
    top: 85px;
    > div {
        > svg {
            position: relative;
            top: -2px;
            left: 5px;
        }
    }
}

.file {
    background-color: white;
}

#quit {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 20px;
    text-indent: 4px;
    color: #969fab;
    opacity: 0.5;
    z-index: 100;
    border: 1px solid #cbd5e1;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
        background-color: transparent;
        border: 1px solid #969fab;
        color: #777ea2;
        opacity: 0.6;
    }
}

#undo {
    position: absolute;
    top: 95%;
    left: 97%;
    transform: translate(-50%, -25%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    padding: 6px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    //background-color: #cbd5e1;
    border: 1px solid #969fab;
    color: #777ea2;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        background-color: transparent;
    }
    > svg {
        position: relative;
        transform: rotate(22.5deg);
        > path {
            stroke: #777ea2;
        }
    }
}

#current-file-wrapper {
    overflow: hidden;
    border-radius: 3px;
    background-color: white; 
    border: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    pointer-events: none;
    &.loaded {
        background: white;
    }
}

#trash {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease 0.2s !important;
    background: linear-gradient(45deg, #fe8c8c 0%, transparent 53%);
    background-position: -500px 500px;
    background-repeat: no-repeat;
    &.drop-target {
        border: none !important;
        background-position: 0px 0px;
    }
    > div {
        text-align: center;
        > svg {
            width: 40px;
            > path {
                fill: #777ea2;
            }
        }
    }
}

/*
//url('assets/loading.gif') no-repeat center center;
    outline: 15px solid #f4a9a9;
*/

.dropping-file {
    outline: 3px solid #a9cff4;
    height: 85px;
    width: 65px;
    border-radius: 5px;
    pointer-events: none;
    overflow: hidden;
    background: white url('assets/loading.gif') no-repeat center center;
    background-size: 20px 20px;
    transition: height 0.2s ease, width 0.2s ease, border-radius 0.2s ease, opacity 0.5s ease, transform 0.2s ease !important;
    transform-origin: 50% 50% !important;
    > span {
        display: none;
    }
    > img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        overflow: hidden;
        pointer-events: none;
    }
    &.rejected {
        outline: 3px solid #fe8c8c !important;
        overflow: visible;
        pointer-events: initial !important;
        &:active:hover {
            transition: none !important;
        }
        > div {
            > span {
                display: block !important;
            }
        }
    }
}

.dropping-file #current-file-name {
    display: none;
}

.dropping-file #current-file-preview {
    padding-bottom: 0;
}

#current-file-type {
    position: absolute;
    bottom: -30px;
    left: 10px;
    padding: 3px 5px 2px;
    background-color: white;
    border: 1px solid #b4b9d4bf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    color: #777ea2;
    &.pptx {
        background-color: #fdb7fe;
        color: #914e92;
        border-color: currentColor;
    }
    &.jpg {
        background-color: #8ce3fe;
        color: #3f8aa1;
        border-color: currentColor;
    }
    &.png {
        background-color: #8cfe99;
        color: #539d5c;
        border-color: currentColor;
    }
    &.pdf {
        background-color: #fe8c8c;
        color: #9d3f3f;
        border-color: currentColor;
    }
    &.docx, &.doc {
        background-color: #8cc5fe;
        color: #316599;
        border-color: currentColor;
    }
    &.svg {
        background-color: #e0e2ec;
        color: #777ea2;
        border-color: currentColor;
    }
    &.zip {
        background-color: #f4b59f;
        color: #795548;
        border-color: currentColor;
    }
    &.js {
        background-color: #edfe8c;
        color: #9d9853;
        border-color: currentColor;
    }
}

#current-file-size {
    position: absolute;
    bottom: -30px;
    left: 60px;
    padding: 3px 5px 2px;
    background-color: white;
    border: 1px solid #b4b9d4bf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    color: #777ea2;
    background-color: #bce7f4;
    color: #30849d;
    border-color: currentColor
}

#current-file-name {
    position: absolute;
    bottom: 3px;
    left: 1px;
    width: calc(100% - 2px);
    padding: 3px 0;
    padding-bottom: 1px;
    background-color: white;
    font-size: 0.65rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    color: #777ea2;
}



.center-horizontally {
    left: 50%;
    transform: translateX(-50%);
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-xxs {
    font-size: 0.65rem;
}


.translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 680px;
    max-height: 680px;
    width: 85vw;
    height: 85vw;
    border-color: #b4b9d4bf;
}


#intro-screen p {
    min-width: 210px;
    max-width: 300px;
}




.congrats {
    text-align: center;
    .congrats-icon {
        font-size: 3em;
        display: block;
    }
    
}




.border-3 {
    border-width: 3px;
}

#current-folder-name {
    vertical-align: text-top;
}

#skip {
    background: -webkit-radial-gradient(left, 100% 40%, #a9cff4, #F1F6F900);
    overflow: visible;
    height: 100vh;
    width: 50px;
    margin-right: 200px;
    line-height: 100vh;
    text-indent: 30px;
    top: 0%;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #889ec9;
    mix-blend-mode: darken;
    transition: all 0.5s ease;
    opacity: 0.5;
    @media (max-width: 500px) {
        display: none;
    }
    > span {
        pointer-events: none;
    }
    &:after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    &.drop-active {
        border: 0;
        opacity: 1;
    }
    &.drop-target {
       
        border: 0 !important;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: -webkit-radial-gradient(right, 50% 100%, #a9cff4, #F1F6F900);
            background-position: 50% 50%;
            mix-blend-mode: darken;
            opacity: 1;
            transition: all 0.5s ease;
            pointer-events: none;
        }
    }
}

.ui-button {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}




[data-countchildren] > :nth-child(1) {
    --nth-child: 1;
 --layout-angle: 0deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(2) {
    --nth-child: 1;
 --layout-angle: 60deg;
 transform: scale(0)
}
[data-countchildren] > :nth-child(3) {
    --nth-child: 1;
 --layout-angle: 120deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(4) {
    --nth-child: 1;
 --layout-angle: 180deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(5) {
    --nth-child: 1;
 --layout-angle: 240deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(6) {
    --nth-child: 1;
 --layout-angle: 300deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(7) {
    --nth-child: 1;
 --layout-angle: 360deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(8) {
    --nth-child: 1;
 --layout-angle: 420deg;
 transform: scale(0)
}

[data-countchildren] > :nth-child(9) {
    --nth-child: 1;
 --layout-angle: 480deg;
 transform: scale(0)
}


[data-countchildren]:has(> :nth-child(1):last-child) > * {
    --nth-siblings: 1;
    transform: scale(1)
}
[data-countchildren]:has(> :nth-child(2):last-child) > * {
    --nth-siblings: 2;
    --angle: -18deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(3):last-child) > * {
    --nth-siblings: 1;
    --angle: -35deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(4):last-child) > * {
    --nth-siblings: 1;
    --angle: -58deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(5):last-child) > * {
    --nth-siblings: 1;
    --angle: -58deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(6):last-child) > * {
    --nth-siblings: 1;
    --angle: -58deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(7):last-child) > * {
    --nth-siblings: 1;
    --angle: -58deg;
    transform: scale(1)
}


[data-countchildren]:has(> :nth-child(8):last-child) > * {
    --nth-siblings: 1;
    --angle: -58deg;
    transform: scale(1)
}

[data-countchildren]:has(> :nth-child(9):last-child) > * {
    --nth-siblings: 1.035;
    --angle: -58deg;
    transform: scale(1)
}


